.FilterBar {
  background: var(--color-filter-bar);
  box-shadow: 0.1rem 0.1rem 0.2rem lightgray;
  width: 80%;
  min-width: 300px;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.FilterBar__Space {
  padding: 2rem;
}