:root {
  --color-bg: #eee;
  --color-filter-bar: white;
}

html, body {
  padding: 0;
  margin: 0;
}

.App {
  background: var(--color-bg);
  padding: 2rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}